<div class="w-full border rounded-lg hover:bg-gray-50 flex flex-col h-fit pl-5 ">
  <div class="flex flex-row  pt-5">
    <h2 class="text-blue-700 font-medium font-sans text-lg ">Desenvolverdor full stack</h2>
    <p class="bg-green-100 text-xs text-center font-sans px-2 py-1 ml-4 my-1 ">Nova</p> <!--so vai aparecer se a vaga tiver ate um mes de postada-->
    <h2 class="text-green-600 text-base font-medium  flex mx-auto mr-10  h-8 ">Tipo de vaga</h2>
  </div>
  <div class="flex flex-row ">
    <p class=" h-4 pr-2 text-gray-500 text-sm border-r border-gray-400 ">Nome da empresa</p>
    <p class=" h-4 px-2 text-gray-500 text-sm border-r border-gray-400 ">remoto ou presencial</p>
    <p class=" h-4 px-2 text-gray-500 text-sm  ">horas de trabalho </p>
  </div>
  <div class="flex flex-row my-2 ">
    <!--criar um componete-->
    <p class="bg-gray-200 text-sm w-fit px-2 p-1 rounded-md mr-2 ">tecnologia</p>
    <p class="bg-gray-200 text-sm w-fit px-2 p-1 rounded-md mr-2 ">tecnologia</p>
  </div>
  <div class="mr-10"><p class="font-sans text-gray-500">Projeto voluntário para desenvolvimento de plataforma educacional. Buscamos desenvolvedores com experiência em React para contribuir com...</p>
  </div>
  <button class="bg-tema-gradient rounded-xl text-white w-fit h-10 p-1 px-3 mx-auto mr-10 my-4 ">Candidate-se</button>

</div>
