<form class="m-2 w-auto flex flex-col  space-y-4  ">
  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full mt-2 h-10 p-3"
    placeholder="Nome completo"
    required
  />
  <input
  type="text"
  class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
  placeholder="CPF"
  required
  formControlName="cpf"
  mask="000.000.000-00"
/>

  <input
    type="email"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Email"
    required
  />

  <input
    type="tel"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Telefone"
    required
    formControlName="telefone"
    mask="(00) 0000-0000||(00) 0 0000-0000"
/>

  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Logradouro"
    required
  />
  <input
  type="text"
  class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
  placeholder="CEP"
  required
  formControlName="cep"
  mask="00000-000"
/>
  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Rua"
    required
  />

  <input
    type="password"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Senha"
    required
  />
</form>
