<div class="flex flex-row mr-5">
  <div class="w-10 h-10 rounded-full bg-perfil-user bg-no-repeat bg-[auto_50px] bg-center">
  </div>

  <p class="ml-2 font-sans font-normal text-base w-52">{{nomeCandidato}} </p>
  <p class="font-sans text-base w-80"> {{cargo}}</p>

  <select class="border rounded-lg w-32 pl-2 text-sm">
    <option value="Pendente">Pendente</option>
    <option value="Aprovado">Aprovado</option>
    <option value="Reprovado">Reprovado</option>
  </select>
  <a class=" ml-auto " href="#"><mat-icon>description</mat-icon></a>
  <a class="ml-auto" href="#"><mat-icon >email</mat-icon></a>
</div>
<hr class="mt-4">
