<div class="flex flex-row ">
  <div class="bg-white flex flex-col shadow border w-64 h-fit  ml-48 mt-8 p-4 rounded-lg">
  <h1 class="font-sans  font-bold">Filtros Avançados</h1>
  <label class="font-sans font-semibold text-sm mt-4 mb-4">Tipo de Vaga</label>
  <select class="font-sans w-full h-10 pl-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-800">
      <option >Todas</option>
      <option>Voluntario</option>
      <option >Estagiario</option>
      <option>Freelance</option></select>
  <label class="font-sans font-semibold text-sm mt-4 mb-4 ">Localização</label>
  <input class="placeholder:text-gray-400 text-sm rounded-lg border focus:outline-none focus:ring-2 focus: ring-green-800 pl-2 h-10 w-full " type="text" placeholder="Cidade ou país">
  <label class="font-sans font-semibold text-sm mt-4">Preferência de Vaga</label>

  <div class="flex flex-col mt-2 space-y-2">
    <label class="font-sans">
      <input class="mr-2" type="checkbox">Remoto
    </label>
    <label class="font-sans">
       <input class="mr-2" type="checkbox">Híbrido
      </label>
    <label class="font-sans">
       <input class="mr-2" type="checkbox">Presencial
      </label>
  </div>

  <label class="font-sans font-semibold text-sm mt-4">Nível de Experiência </label>
  <div class="flex flex-col space-y-2 mt-2 ">
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Iniciante">Iniciante</label>
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Intermediario">Intermediário</label>
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Avançado">Avançado</label>
  </div>
 </div>

 <div class="bg-white border rounded-lg shadow w-5/12 h-fit mt-8 ml-8 ">
  <input type="text" class="bg-busca bg-no-repeat bg-clip-padding bg-custom-right bg-[auto_20px] border-green-900 border-2 rounded-full text-sm placeholder:text-gray-500 flex mx-auto w-5/6  h-14 my
  my-8 pl-5 "
  placeholder="Buscar vagas...">
 <!--criar um componente proprio pra vagas q seram mostradas-->

  <div class="w-full border shadow hover:bg-gray-50 flex flex-col h-fit pl-5">
    <div class="flex flex-row  pt-5">
      <h2 class="text-blue-700 font-medium font-sans text-lg ">Desenvolverdor full stack</h2>
      <p class="bg-green-100 text-xs text-center font-sans px-2 py-1 ml-4 my-1 ">Nova</p> <!--so vai aparecer se a vaga tiver ate um mes de postada-->
      <h2 class="text-green-600 text-base font-medium  flex mx-auto mr-10  h-8 ">Tipo de vaga</h2>
    </div>
    <div class="flex flex-row ">
      <p class=" h-4 pr-2 text-gray-500 text-sm border-r border-gray-400 ">Nome da empresa</p>
      <p class=" h-4 px-2 text-gray-500 text-sm border-r border-gray-400 ">remoto ou presencial</p>
      <p class=" h-4 px-2 text-gray-500 text-sm  ">horas de trabalho </p>
    </div>
    <div class="flex flex-row my-2 ">
      <!--criar um componete-->
      <p class="bg-gray-200 text-sm w-fit px-2 p-1 rounded-md mr-2 ">tecnologia</p>
      <p class="bg-gray-200 text-sm w-fit px-2 p-1 rounded-md mr-2 ">tecnologia</p>
    </div>
    <div class="mr-10"><p class="font-sans text-gray-500">Projeto voluntário para desenvolvimento de plataforma educacional. Buscamos desenvolvedores com experiência em React para contribuir com...</p>
    </div>
    <button class="bg-tema-gradient rounded-xl text-white w-fit p-1 px-3 mx-auto mr-10 my-4 ">Candidate-se</button>

  </div>

</div>
<div class="flex flex-col">
  <div class="bg-white shadow border rounded-lg space-y-2  w-96 h-80 m-8 p-4 ">
    <h1 class="font-sans font-semibold text-xl ">Suas Candidaturas</h1>
   <!--colocar em uma pasta pra poder personalizar-->
    <div class="bg-gray-50 flex flex-col rounded-lg pl-4 pt-2">
      <div class="flex flex-row">
        <div class="flex flex-col">
          <h3 class="font-sans font-medium text-lg"> Cargo da vaga</h3>
          <p class="font-sans text-gray-500">nome da empresa</p>
        </div>

        <div class=" mt-4 mx-auto mr-4">
          @if (statusUser==='Aprovado') {
            <span class="bg-green-100 text-green-800 text-sm flex justify-center items-center w-fit px-2 py-1" >Aprovado</span>

          }@else {
            <span class="bg-blue-100 text-blue-800 text-sm flex justify-center items-center w-fit px-2 py-1" >Status</span>
          }

        </div>
    </div>

    <p class="font-sans text-gray-500 text-sm">Candidatado em: data</p>
    </div>
  </div>

  <div class="bg-white shadow border rounded-lg w-96 h-48 ml-8 p-4 ">
    <h1 class="font-sans font-semibold text-xl">Seu Currículo</h1>
    <p class="font-sans text-sm font-medium mt-5">Currículo (PDF)</p>
    <div class="flex flex-col mt-2 "><input class="text-sm text-gray-500" type="file" accept=".PDF, .doc, .docx">
    <button class="bg-tema-gradient text-white text-sm rounded-2xl h-10 w-36 ml-52 my-4">Cadastrar currículo</button></div>
  </div>

</div>
</div>
