<div class="flex flex-row ">
 <app-filtros></app-filtros>

 <div class="bg-white border rounded-lg shadow w-5/12 h-fit mt-8 ml-8 ">
  <input type="text" class="bg-busca bg-no-repeat bg-clip-padding bg-custom-right bg-[auto_20px] border-green-900 border-2 rounded-full text-sm placeholder:text-gray-500 flex mx-auto w-5/6  h-14 my
  my-8 pl-5 "
  placeholder="Buscar vagas...">
 <!--criar um componente proprio pra vagas q seram mostradas-->
  <div class="flex flex-col">
    <app-card-vagas></app-card-vagas>

  </div>

</div>
<div class="flex flex-col">
  <div class="bg-white shadow border rounded-lg space-y-3 flex flex-col  w-96 h-80 m-8 p-4 ">
    <h1 class="font-sans font-semibold text-xl ">Suas Candidaturas</h1>
   <!--colocar em uma pasta pra poder personalizar-->

    <app-suas-cadidaturas></app-suas-cadidaturas>
    <app-suas-cadidaturas></app-suas-cadidaturas>
  </div>

  <div class="bg-white shadow border rounded-lg w-96 h-48 ml-8 p-4 ">
    <h1 class="font-sans font-semibold text-xl">Seu Currículo</h1>
    <p class="font-sans text-sm font-medium mt-5">Link do Currículo</p>
    <div class="flex flex-col mt-2 ">
      <input class="text-sm text-gray-500 border-gray-500 border  rounded-xl h-8 pl-2"  type="url">
    <button class="bg-tema-gradient text-white text-base rounded-xl w-40 h-10 ml-48 my-4 p-1 mr-4">Cadastrar currículo</button></div>
  </div>
</div>
</div>
