<section class="w-fit mx-auto mt-28 mb-4">
  <!-- Botões para selecionar o tipo de usuário -->
  <div>
    <button
      class="bg-zinc-100 m-2 border-2 border-black rounded-lg font-sans text-sm w-48 h-12"
      [class.bg-tema-gradient]="tipoUsuario === 'candidato'"
      [class.text-white]="tipoUsuario === 'candidato'"
      (click)="selecionarTipo('candidato')"

    >Candidato</button>

    <button
      class="bg-zinc-100 m-2 border-2 border-black rounded-lg font-sans text-sm w-48 h-12"
      [class.bg-tema-gradient]="tipoUsuario === 'empresa'"
      [class.text-white]="tipoUsuario === 'empresa'"
      (click)="selecionarTipo('empresa')"

    >Empresa</button>
  </div>

  <!-- Formulário do Candidato -->
   @if(tipoUsuario === 'candidato' ){
    <form
    class="m-2 w-auto"
  >
    <div class="mt-6 mb-4">
      <input
        type="text"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Nome completo"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="email"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="tel"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="telefone"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="text"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Endereço"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="password"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Senha"
        required
      />
    </div>

  </form>
   } @else {
    
    <form

       class="m-2 w-auto"
  >
    <div class="mt-6 mb-4">
      <input
        type="text"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Razão social"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="text"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="CNPJ"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="email"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Email corporativo"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="tel"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="telefone"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="text"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Endereço"
        required
      />
    </div>
    <div class="mb-4">
      <input
        type="password"
        class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
        placeholder="Senha"
        required
      />
    </div>
  </form>}


  <button class="bg-tema-gradient rounded-full ml-80 text-white font-sans text-sm h-8 w-20 mb-4">
    Cadastrar
  </button>
</section>
