<div class="flex flex-row my-2">
  <h1 class="font-sans font-semibold text-xl">{{cargo}}</h1>
<button class="mx-auto mr-4">
<mat-icon>edit</mat-icon></button>
<button class="mr-4">
<mat-icon>delete</mat-icon></button>
</div>

<div class=" flex flex-row mb-4">
<p class="text-gray-600 flex text-center text-sm mr-2"><mat-icon>location_on</mat-icon> {{tipoVaga}}</p>
<p class="text-gray-600 flex text-center text-sm ">
<mat-icon>access_time</mat-icon>{{numeroHoras}}</p>
<p class="flex bg-text-gradient text-transparent bg-clip-text text-sm ml-2 text-center"> {{numeroCandidaturas}}</p>
</div>
<h3 class="font-sans font-semibold text-base mt-2">Descrição:</h3>
<p class="text-gray-500 text-sm font-sans">{{descricaoVaga}}</p>
<hr class="mt-2">
