<div class="w-auto h-28 m-20 grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-8">
  <div class="text-center p-8 shadow-xl rounded-lg   bg-white">
    <h1 class="font-sans font-bold text-xl">Ganhe Experiência</h1>
    <p>Projetos reais para desenvolver suas habilidades</p>
  </div>
  <div class="text-center p-8 shadow-xl d rounded-lg bg-white">
    <h1 class="font-sans font-bold text-xl">Networking</h1>
    <p>Conecte-se com profissionais da sua área</p>
  </div>
  <div class="text-center p-8 shadow-xl  rounded-lg  bg-white">
    <h1 class="font-sans font-bold text-xl">Impacto Social</h1>
    <p>Contribua com causas importantes</p>
  </div>
</div>
