
<div class="bg-transparent w-full h-16">
  <div class="bg-transparent h-16 flex flex-row">
    <h1 class=" bg-text-gradient bg-clip-text text-transparent  font-bold text-2xl flex justify-start items-center  h-full w-5/6 ml-24  ">VoluntTI</h1>
    <button class=" bg-text-gradient bg-clip-text text-transparent mt-6 text-sm h-6 ">Login</button>
    <button class="bg-tema-gradient font-sans text-white text-sm flex justify-center items-center  rounded-lg border-white border-2 w-28 h-10 ml-10 mt-4">Cadastre-se</button></div> </div>
