<div class="bg-white flex flex-col shadow border w-64 h-fit  ml-48 mt-8 p-4 rounded-lg">
  <h1 class="font-sans  font-bold">Filtros Avançados</h1>
  <label class="font-sans font-semibold text-sm mt-4 mb-4">Tipo de Vaga</label>
  <select class="font-sans w-full h-10 pl-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-800">
      <option >Todas</option>
      <option>Voluntario</option>
      <option >Estagiario</option>
      <option>Freelance</option></select>
  <label class="font-sans font-semibold text-sm mt-4 mb-4 ">Localização</label>
  <input class="placeholder:text-gray-400 text-sm rounded-lg border focus:outline-none focus:ring-2 focus: ring-green-800 pl-2 h-10 w-full " type="text" placeholder="Cidade ou país">
  <label class="font-sans font-semibold text-sm mt-4">Preferência de Vaga</label>

  <div class="flex flex-col mt-2 space-y-2">
    <label class="font-sans">
      <input class="mr-2" type="checkbox">Remoto
    </label>
    <label class="font-sans">
       <input class="mr-2" type="checkbox">Híbrido
      </label>
    <label class="font-sans">
       <input class="mr-2" type="checkbox">Presencial
      </label>
  </div>

  <label class="font-sans font-semibold text-sm mt-4">Nível de Experiência </label>
  <div class="flex flex-col space-y-2 mt-2 ">
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Iniciante">Iniciante</label>
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Intermediario">Intermediário</label>
    <label class="font-sans">
      <input class="mr-2" type="radio" name="nivel" value="Avançado">Avançado</label>
  </div>
 </div>
