<Section class="bg-white shadow rounded-lg border w-full h-fit flex flex-col p-4">
  <div class="flex flex-row">
    <input class="border rounded-lg h-10 w-80 pl-2 mr-4" type="text" placeholder="Habilidades">
    <input class="border rounded-lg h-10 w-80 pl-2 mr-4" type="text" placeholder="Localização">

    <select class="border rounded-lg h-10 w-80 pl-2">
      <option value="Tudo">Tudo</option>
      <option value="EnsinoMedio">Ensino Médio</option>
      <option value="Graduação">Graduação</option>
    </select>
  </div>
  <app-candidato-busc></app-candidato-busc>

</Section>
