<app-menu></app-menu>
<div class="bg-zinc-100 h-full flex pt-40">
  <div
    class="bg-white rounded-xl border shadow flex flex-col mx-auto w-1/3 h-fit py-4"
  >
    <div class="flex flex-col justify-center items-center">
      <div
        class="w-20 h-20 rounded-full bg-perfil-user bg-center bg-no-repeat bg-[auto_80px] relative cursor-pointer"
      >
        <input
          class="opacity-0 absolute inset-0 rounded-full cursor-pointer"
          type="file"
          accept="image/*"
        />
        <!--a intencao era pra quando clicar no perfil poder escolher uma imagem para colocar como perfil-->
      </div>

      <p class="font-sans text-lg font-semibold mt-2">Editar Perfil</p>
    </div>
    <div class="w-full px-4">
      @if (tipoUsuario==='candidato') {
      <!--de alguma forma o sistema vai ter q saber se é um candidato ou n, boa sorte manquinho -->
      <app-form-user></app-form-user>
      }@else {
      <app-form-emp></app-form-emp>
      }
      <button
        class="bg-tema-gradient text-white flex font-sans text-base py-2 px-3 mx-auto mr-2 rounded-xl"
      >
        Salvar
      </button>
    </div>
  </div>
</div>
