<app-menu></app-menu>
<div class="bg-gray-100 w-full h-full flex">
  <div class="bg-white rounded-lg shadow mx-auto w-1/2 h-fit mt-40 ">
    <p class="font-sans text-xl font-semibold p-4">Meu Currículo</p>
    <form class="m-2 flex-col space-y-4" [formGroup]="meuFormulario" (submit)="submit()">
      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 mt-2 p-3" type="text"
      placeholder="Motivação" formControlName="curTxMotivacao">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Nível De Ensino"
      formControlName="curTxNivelEnsino"
      >

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text"
      placeholder="Curso / Formação"
      formControlName="curTxCursoFormacao"
      >

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Idiomas"
      formControlName="curTxIdiomas"
      >

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Descrição"
      formControlName="curTxDescricao"
      >

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Portifólio"
      formControlName="curTxPortfolio"
      >

      <button
      [ngClass]="{
        'rounded-xl flex mx-auto mr-4 text-white font-sans text-sm   px-4 py-2': true,
        'bg-gray-300': !meuFormulario.valid, 'bg-tema-gradient':meuFormulario.valid
      }"
       [disabled] = "!meuFormulario.valid"> Cadastrar
          </button>
    </form>
  </div>
  @if (isload) {
    <app-load/>
  }
</div>
