<app-menu></app-menu>
<div class="bg-gray-100 w-full h-full flex">
  <div class="bg-white rounded-lg shadow mx-auto w-1/2 h-fit mt-40 ">
    <p class="font-sans text-xl font-semibold p-4">Meu Currículo</p>
    <form class="m-2 flex-col space-y-4  ">
      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 mt-2 p-3" type="text" placeholder="Motivação">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Nível De Ensino">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Curso / Formação">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Idiomas">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Descrição">

      <input class="placeholder:text-gray-500 border rounded-md border-zinc-300 font-sans text-sm w-full h-10 p-3" type="text" placeholder="Portifólio">

      <button Class="rounded-xl flex mx-auto mr-4 text-white font-sans text-sm bg-gray-300 bg-tema-gradient px-4 py-2
      "> Cadastrar
          </button>
    </form>
  </div>
</div>
