<Section class="bg-white shadow rounded-lg border w-full h-fit flex flex-col p-4">
  <div class="flex flex-col"><select class="w-96 h-8 border shadow rounded-lg">
    <option>Todas</option>
    <option>Aprovados</option>
    <option>Pendentes</option>
  </select>
</div>

  <div class="flex flex-row font-bold text-base my-4">
    <h2 class="px-4 font-sans w-60"> Candidato</h2>
    <h2 class="px-2 font-sans w-80">Vaga</h2>
    <h2 class="px-2 font-sans  w-56">Status</h2>
    <h2 class=" font-sans">Currículo</h2>
    <h2 class="px-4 font-sans ml-auto ">Email</h2>
  </div>

  <div class="flex flex-row mr-5">
    <div class="w-10 h-10 rounded-full bg-perfil-user bg-no-repeat bg-[auto_50px] bg-center">
    </div>

    <p class="ml-2 font-sans font-normal text-base w-52">nome candidato </p>
    <p class="font-sans text-base w-80"> cargo da vaga</p>

    <select class="border rounded-lg w-32 pl-2 text-sm">
      <option value="Pendente">Pendente</option>
      <option value="Aprovado">Aprovado</option>
      <option value="Reprovado">Reprovado</option>
    </select>
    <a class=" ml-auto " href="#"><mat-icon>description</mat-icon></a>
    <a class="ml-auto" href="#"><mat-icon >email</mat-icon></a>
  </div>
  <hr class="mt-4">

</Section>
