<form class="m-2 w-auto flex flex-col space-y-4 ">
  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 mt-2 p-3"
    placeholder="Razão social"
    required
  />
  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="CNPJ"
    required
  />
  <input
    type="email"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Email corporativo"
    required
  />
  <input
    type="tel"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Telefone"
    required
  />
  <input
    type="text"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Logradouro"
    required
  />
  <input
      type="text"
      class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
      placeholder="CEP"
      required
    />
    <input
      type="text"
      class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
      placeholder="Rua"
      required
    />

  <input
    type="password"
    class="placeholder:text-gray-500 border rounded-md border-zinc-400 text-sm w-full h-10 p-3"
    placeholder="Senha"
    required
  />
</form>
